$base-black-color: #000000;
$base-dark-blue-color: #000055;
$base-white-color: #FFFFFF;

$primary-background-color: $base-black-color;
$secondary-background-color: $base-dark-blue-color;

$primary-text-color: $base-white-color;
$secondary-text-color: $base-black-color;