@import '~normalize.css';
@import 'colors';
@import 'fonts';

@keyframes background-scroll {
  0%, 100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

html { // stylelint-disable-line
  font-size: 62.5%;
}

body { // stylelint-disable-line
  font-size: 160%; // 1 / 62.5%
  font-family: $primary-font;

  color: $primary-text-color;

  background-color: $secondary-background-color;
  // background-image: linear-gradient(-45deg, $primary-background-color 0%, $secondary-background-color 100%);
  // background-size: 400% 400%;
  // background-attachment: fixed;

  // animation-duration: 15s;
  // animation-iteration-count: infinite;
  // animation-name: background-scroll;
  // animation-timing-function: linear;
}

h2 {
  font-family: $secondary-font;
}

input[type=checkbox] {
  visibility: hidden;
  width: 0;

  & + label {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 50%;
    border: 2px solid lighten($primary-box-border-color, 30%);
    background-color: $primary-box-color;
    margin: 5px 10px 5px 0;
  }

  &:checked + label {
    background-color: lighten($primary-box-border-color, 30%);
  }

  &[disabled] + label {
    border-color: lighten($primary-box-border-color, 10%);
  }

  &[disabled]:checked + label {
    background-color: lighten($primary-box-border-color, 10%);
  }
}