@import '../../../styles/colors';
@import '../../../styles/fonts';

.label {
  display: none;
}

.bar::before,
.bar::after {
  display: none;
}

.input .inputElement {
  font-size: 40px;
  font-weight: 400;
  font-family: $secondary-font;
  color: $primary-text-color;
}

.input {
  position: relative;
  display: inline-block;

  &::after {
    position: absolute;
    content: '';
    top: 20px;
    right: 0;
    bottom: 20px;
    border-right: 2px solid $base-white-color;
  }
}
