@import '../../../styles/fonts';
@import '~media-blender';

.header {
  line-height: middle;
}

.character-name {
  max-width: 300px;
}

.level {
  font-family: $secondary-font;
  font-size: 22px;
  line-height: 90px;
  height: 90px;
  display: inline-block;
  padding: 0 20px 15px;

  @include media(mobile down) {
    display: block;
    height: 32px;
    line-height: 32px;
  }
}

.width-check {
  display: inline;
  font-size: 40px;
  font-weight: 400;
  font-family: $secondary-font;
  position: absolute;
  pointer-events: none;
  padding: 0 20px;
  visibility: hidden;
}
