@import '~media-blender';
@import '../../../styles/fonts';

.grid {
  @include media(desktop large) {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
  }
}

.columns {
  @include media(desktop large) {
    display: flex;
  }
}

.rightForm {
  flex: 1 0;
}

.leftForm {
  flex: 2;
  max-width: 700px;
}

.inputItem {
  width: 100%;

  @include media(desktop large) {
    margin: 0 10px;
    max-width: 30%;
  }
}

.level {
  line-height: 60px;
  vertical-align: middle;
  padding-left: 50px;
}

.levelValue {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  line-height: 60px;
  margin-right: -50px;
  margin-left: 40px;
  width: 40px;
  text-align: center;
}

.levelProgress {
  vertical-align: top;
}

.character-name {
  max-width: 300px;
}

.proficiency {
  font-family: $secondary-font;
  margin-top: 30px;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 44px;
  display: flex;
  flex-direction: column;
  vertical-align: center;

  @include media(desktop large) {
    font-size: 22px;
    flex-direction: row;
  }
}

.proficiencyValue {
  line-height: 40px;
  font-weight: 700;
  padding-right: 20px;

  @include media(desktop large) {
    font-size: 48px;
  }
}

.header {
  line-height: middle;
}

.inspiration {
  flex: 1 0;
  text-align: right;
}

.level {
  font-family: $secondary-font;
  font-size: 22px;
  line-height: 90px;
  height: 90px;
  display: inline-block;
  padding: 0 20px 15px;
}
