{
  "presets": [
    ["env", {
      "targets": {
        "chrome": 57
      },
      "useBuiltIns": true
    }]
  ],
  "plugins": [
    "lodash"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}