{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "Android >= 5",
          "not ie < 11",
          "not safari < 9",
          "not iOS < 9"
        ]
      },
      "useBuiltIns": true
    }]
  ],
  "plugins": [
    "lodash"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}