@import '~media-blender';

.main {
  flex: 1 0;

  display: flex;
  align-items: center;

  &:hover {
    .logo {
      transform: rotate(180deg);
    }
  }
}

.logo {
  height: 100%;
  transition: 0.2s ease-in-out;
}

.appName {
  font-size: 24px;
  margin: 0;
  padding-left: 10px;

  @include media(small) {
    font-size: 16px;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(120deg) }
}