@import '~media-blender';
@import '../../../styles/fonts';

.main {
  font-family: $secondary-font;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 44px;
  display: flex;
  flex-direction: column;
  vertical-align: center;

  @include media(tablet up) {
    font-size: 22px;
    flex-direction: row;
  }
}

.proficiency {
  display: flex;
}

.proficiency-value {
  line-height: 40px;
  font-weight: 700;
  padding-right: 20px;
  font-size: 32px;
}

.inspiration {
  flex: 1 0;
}

@include media(tablet up) {
  .main {
    font-size: 22px;
    flex-direction: row;
  }

  .proficiency-value {
    font-size: 48px;
  }

  .inspiration {
    text-align: right;
  }
}
