@import '../../../styles/colors';
@import '../../../styles/fonts';

.title {
  font-weight: 700;
  font-family: $secondary-font;
  text-align: center;
  position: relative;
  margin: 8px 0 16px;
}

.list {
  column-count: 3;
}

.search {
  position: absolute;
  top: -4px;
  right: 0;
  background-color: lighten($primary-box-border-color, 10%);
  color: $primary-text-color;
  border: none;
  border-radius: 2px;
  padding: 4px 8px;
  font-family: $primary-font;
  font-weight: 700;
  font-stretch: 1.2;

  &::placeholder {
    color: lighten($primary-box-border-color, 30%);
  }
}
