@import '~media-blender';


.rightForm {
  flex: 1 0;
  padding-top: 32px;
}

.leftForm {
  flex: 2;
}

.proficiency {
  margin-top: 30px;
}

@include media(desktop up) {
  .columns {
    display: flex;
  }

  .leftForm {
    max-width: 700px;
  }

  .rightForm {
    padding-top: 0;
  }
}
