@import '~media-blender';

.grid {
  @include media(tablet up) {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
  }
}

.inputItem {
  width: 100%;

  @include media(tablet up) {
    margin: 0 10px;
    max-width: calc(33% - 20px);
  }
}
