@import '~media-blender';

.main {
  display: flex;
}

.left-column {
  flex: 3;
  margin-right: 32px;
}

.right-column {
  flex: 1;
}

@include media(tablet down) {
  .main {
    display: block;
  }

  .left-column {
    margin-right: initial;
    margin-bottom: 32px;
  }
}
